streamlit
fastapi
uvicorn[standard]
python-dotenv
pydantic
pandas
datasets
ragas
torch
langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-ollama
chromadb
pypdf
beautifulsoup4
sentence-transformers
